$dark-gray: #313638;
$off-white: #e0dfd5;
$gold: #e4b363;
$red-orange: #ee6461;

* {
  margin: 0;
  padding: 0;
}

@mixin align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  color: #ffffff;

  .parallax_wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
  } 

  .intro_screen {
    height: 100vh;
    // background-color: tomato;
    //@include align-center;

    .navbar {
      // align-items: center;
      // justify-content: space-between;
      font-size: 12pt;
      padding: 50px 0 50px 0;
      width: 100%;

        .logo {
          color: $gold;
          font-family: 'bely-display', serif;
          font-size: 50pt;
          letter-spacing: 1.5px;
          padding: 0 0 0 50px;
          text-decoration: none;
        }

        .navbar-toggle {
            position: absolute;
            top: 50px;
            right: 50px;
            cursor: pointer;
            color: $gold;
            font-size: 24px;
        }

      .main-nav {
        padding: 0 50px 0 0;
        list-style-type: none;
        display: none;

        li {
          text-align: center;
        }
      }

      @media screen and (min-width: 768px) {
        .navbar {
          align-items: center;
          display: flex;
          font-size: 12pt;
          justify-content: space-between;
          padding: 50px 0 50px 0;
          width: 100%;
        }
        .main-nav {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          width: auto;
        }
        .main-nav li {
          margin: 0;
          padding: 0 0 0 50px;
        }
        .logo {
            margin-top: 0;
        }
      .navbar-toggle {
          display: none;
        }
      }
    }

    .link {
      color: $gold;
      text-decoration: none;
    }

    .link:hover {
      color: $red-orange;
    }

    .active {
      display: block;
    }
  }

  .outro_screen {
    height: 100vh;
    background-color: teal;
    @include align-center;
  }

  .parallax_group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;

    .parallax_layer {
      position: absolute;
      inset: 0;
      @include align-center;
    }

    .base_layer {
      height: 300vh;
      width: 100%;
      //scale calc: 1 + ((Z trans vale * -1) / perspective))
      transform: translateZ(-300px) scale(2);
    }

    .mid_layer {
      background-color: $gold;
      transform: translateZ(0);
    }

    .top_layer {
      transform: translateZ(210px) scale(0.3);
    }
  }

  #intro {
    z-index: 0;
  }

  #group-1 {
    z-index: -1;
  }

  #group-1 > .base_layer {
    background: url(../images/new-background.png);
    background-size: cover;
    background-color: $dark-gray;
  }

  #group-2 {}

  #group-2 > .mid_layer {
  }

  #outro {}

  #movie-bg {
      position: fixed;
      pointer-events: none;
      -webkit-animation: movie 1s steps(4) infinite;
      animation: movie 1s steps(4) infinite;
      background-image: url(../images/movie.png);
      height: 200%;
      left: -50%;
      top: -50%;
      width: 200%;
      opacity: .3;
      z-index: 99;
  }

  @keyframes movie {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -5%) }
  20% { transform:translate(-10%, 5%) }
  30% { transform:translate(5%, -10%) }
  40% { transform:translate(-5%, 15%) }
  50% { transform:translate(-10%, 5%) }
  60% { transform:translate(15%, 0) }
  70% { transform:translate(0, 10%) }
  80% { transform:translate(-15%, 0) }
  90% { transform:translate(10%, 5%) }
  100% { transform:translate(5%, 0) }
  }
}