:root {
  --dark-gray: #313638;
  --off-white: #e0dfd5;
  --gold: #e4b363;
  --red-orange: #ee6461;
}

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  width: 100%;
}

body {
  background-color: var(--dark-gray);
  color: var(--off-white);
  font-family: "classica-pro", serif;
  font-weight: 300;
  margin: 0;
}

#page-content {
  min-height: 100vh;

  background: url(/images/new-background.png);

  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'main';
}

#page-content > header {
  grid-area: header;
}

#page-content > main {
  grid-area: main;
  overflow: auto;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto ;
}

#page-content > section {
  grid-area: 1 / 2 / 1 / 3;
}

#page-content > section.full {
  grid-area: 1 / 1 / 1 / 4
}

.lead-content {
  min-height: 100vh;
}
.secondary-content {
  min-height: 100vh;
  background-color: var(--off-white);
}

.third-content {
  min-height: 100vh;
  background-color: var(--gold);
}

.fourth-content {
  min-height: 100vh;
  /* background-color: var(--gold); */
}

.navbar {
  align-items: center;
  font-size: 12pt;
  padding: 50px 0 50px 0;
  width: 100%;
}

.logo {
  color: var(--gold);
  display: inline-block;
  font-family: 'bely-display', serif;
  font-size: 50pt;
  letter-spacing: 1.5px;
  padding: 0 0 0 50px;
  text-decoration: none;
}


.navbar-toggle {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    color: var(--gold);
    font-size: 24px;
}

.main-nav {
  padding: 0 50px 0 0;
  list-style-type: none;
  display: none;
}

.main-nav li {
  text-align: center;
}

.link {
  color: var(--gold);
  text-decoration: none;
}

.link:hover {
  color: var(--red-orange);
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
      align-items: center;
      display: flex;
      font-size: 12pt;
      justify-content: space-between;
      padding: 50px 0 50px 0;
      width: 100%;
    }
    .main-nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .main-nav li {
      margin: 0;
      padding: 0 0 0 50px;
    }
    .logo {
        margin-top: 0;
    }
   .navbar-toggle {
       display: none;
    }
  }


  #movie-bg {
      position: fixed;
      pointer-events: none;
      -webkit-animation: movie 1s steps(4) infinite;
      animation: movie 1s steps(4) infinite;
      background-image: url(/images/movie.png);
      height: 200%;
      left: -50%;
      top: -50%;
      width: 200%;
      opacity: .3;
      z-index: 99;
  }

  @keyframes movie {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -5%) }
  20% { transform:translate(-10%, 5%) }
  30% { transform:translate(5%, -10%) }
  40% { transform:translate(-5%, 15%) }
  50% { transform:translate(-10%, 5%) }
  60% { transform:translate(15%, 0) }
  70% { transform:translate(0, 10%) }
  80% { transform:translate(-15%, 0) }
  90% { transform:translate(10%, 5%) }
  100% { transform:translate(5%, 0) }
}
