@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;

$honeydew: #E8F7EE;


$silver-lake: #6290C3;
$silver-lake-invert: $honeydew;

$indigo: #264653;
$indigo-invert: $honeydew;

$gray: #B8C4BB;

$light-lime: #DDFFD9;
$light-lime-invert: $gray;

// Add pink and its invert
$sandy-brown: #F0A868;
$sandy-brown-invert: $honeydew;

$bone: #67597A;
$bone-invert: $honeydew;
// Update the sans-serif font family
@import 'https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700';
$quicksand: "Quicksand", sans-serif;
$family-sans-serif: $quicksand;


// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $sandy-brown;
$primary-invert: $sandy-brown-invert;

$link: $silver-lake;
$link-invert: $silver-lake-invert;

$info: $indigo;
$info-invert: $indigo-invert;

$warning: $bone;
$warning-invert: $bone-invert;

$breadcrumb-padding-vertical: 5em;

// 4. Import the rest of Bulma


@import "../node_modules/bulma/bulma";
